@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Roboto', sans-serif;
}

@layer base {

  @font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  }

  :root {
  --primary: 255, 255, 255;
  --secondary: 200, 200, 200;

  --bg-dark: 0, 0, 0;
  --bg-light: 80, 80, 80; 
  --bg-disabled: 200, 200, 200;

   /* Font Size */
    --text-xs: 12px;
    --text-sm: 14px;
    --text-md: 16px;
    --text-lg: 18px;
    --text-xl: 20px;

    /* Title Font Size */
    --title-md: 40px;
    --title-lg: 48px;
    --title-xl: 56px;
 }
  
  .theme-pink {
    --bg-dark: 190, 40, 100;
    --bg-light: 255, 40, 100; 
  }

  .theme-vintage {
    --very-dark: 50, 44, 43;
    --dark: 128, 61, 59;
    --middle: 175, 130, 96;
    --light: 228, 197, 158;
    --very-light: 228, 197, 220;
  }
}




