@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Roboto', sans-serif;
}

@layer base {

  @font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  }

  :root {

  /* Status Colors */
  --status-sucess: 0, 200, 81;
  --status-sucess-dark: 0, 126, 51;
  --status-warning: 255, 187, 51;
  --status-warning-dark: 255, 136, 0;
  --status-danger: 255, 68, 68;

  /*Theme Color Background*/
  --bg-veryDark: 0, 0, 0;
  --bg-dark: 20, 20, 20;
  --bg-light: 80, 80, 80; 
  --bg-disabled: 200, 200, 200;

  --bg-very-dark: 0, 0, 0;
  --bg-dark: 40, 40, 40;
  --bg-middle: 80, 80, 80;
  --bg-light: 120, 120, 120; 
  --bg-very-light: 150, 150, 150;


   /* Font Size */
    --text-xs: 12px;
    --text-sm: 14px;
    --text-md: 16px;
    --text-lg: 18px;
    --text-xl: 20px;

    /* Title Font Size */
    --title-md: 40px;
    --title-lg: 48px;
    --title-xl: 56px;
 }
  
  .theme-pink {
    --bg-very-dark: 190, 40, 100;
    --bg-dark: 255, 40, 100; 
  }

  .theme-vintage {
    --bg-very-dark: 50, 44, 43;
    --bg-dark: 128, 61, 59;
    --bg-middle: 175, 130, 96;
    --bg-light: 228, 197, 158;
    --bg-very-light: 228, 197, 220;
  }
}




